.fighter-description {
    &__info {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 920px;
        height: 528px;
        background-color: #f8f8f8;
        margin-left: 80px;
        padding: 0px 0px 30px 73px;
        &:before {
            position: absolute;
            content: '';
            width: 12px;
            height: 100%;
            left: -12px;
            background-color: #f9df4f;
            z-index: 3;
        }
    }
    &__items {
        display: flex;
        margin-bottom: 27px;
    }
    &__item1 {
        margin-top: 35px;
    }
    &__item2 {
        margin-top: 43px;
        margin-left: 54px;
    }
    &__name {
        font-size: 36px;
        line-height: 0.96;
        color: #191919;
        margin-bottom: 19px;
    }
    &__country {
        font-size: 17.5px;
        color: #191919;
        margin-bottom: 29px;
    }
    &__participation {
        font-size: 24px;
        font-weight: 600;
        color: #191919;
    }
    &__age,
    &__category,
    &__weight,
    &__height {
        font-size: 17.5px;
        color: #191919;
        text-align: left;
    }
    &__category {
        text-align: left;
        margin-bottom: 25px;
    }
    &__editor {
        justify-content: flex-start;
    }
    &__photos {
        display: flex;
    }
    &__photo {
        &_borderblack {
            width: 205px;
            height: 293px;
            border: 6px double black
        }
    }
    &__photo {
        margin-right: 10px;
        &_bordergrey {
            width: 205px;
            height: 293px;
            border: 6px double gray;
        }
    }
    &__preview {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 162px;
    }
    &__decor {
        display: flex;
        justify-content: space-between;
        align-self: center;
    }
    &__decor1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__photo-preview {
        margin-right: 10px;
        margin-bottom: 10px;
        &_borderblack {
            width: 68px;
            height: 77px;
            border: 6px double black;
        }
        &_bordergrey {
            width: 68px;
            height: 77px;
            border: 6px double gray;
        }
    }
}

.add-photos {
    opacity: 0.5;
    &:hover {
        opacity: 1;
    }
}