@import 'base/variables';
@import 'base/mixin';
* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import 'base/header';
@import 'base/fighters';
@import 'base/table';
@import 'base/footer';
@import 'base/popup-fighters';
@import 'base/popup-types';
@import 'base/list-of-fighters';
@import 'base/fighter-description';
@import 'base/media';
@import 'base/popup-error';